.img{
    background-image: url('../assets/Screenshot_20260224_130836_Instagram.jpg');
    background-size: cover;
    background-position: center;
}
.yehi{
    background-image: url('../assets/Screenshot_20260224_124717_Instagram.jpg');
    background-size: cover;
    background-position: center;
}